body {
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
}
.dashboard {
    background: white;
    min-width: 85%;
    height: 100vh;
}
.sidebar_wrap {
    background: #313a46;
    min-width: 15%;
    min-height: 100vh;
}
.header_sidebar .logo img {
    width: 100%;
}
.header_sidebar .logo {
    width: 100px;
    margin-top: 10px;
}
.header_sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: white 1px solid;
}
#navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar p {
    color: #b3b3b3;
    margin: 0;
    font-size: 18px;
    display: inline;
}
.sidebar_menu {
    margin-top: 6vh;
}
#navbar a {
    padding: 5px 15px;
    border-radius: 6px;
    display: block;
    margin: 0 10px 1vh  10px;
    cursor: pointer;
    text-decoration: none;
    max-width: 160px;
}
#navbar svg {
    color: #b3b3b3;
    margin-right: 5px;
}
#navbar a.active {
    background: #b9b7b7 !important;
}
#navbar a.active p,
#navbar a.active svg {
    color: black;
}
#navbar a:hover {
    background-color: #ababab5e;
}

.printed_wrap .p_log,
.printed_wrap .title,
.printed_wrap .patient,
.printed_wrap .date,
.printed_wrap .block,
.printed_wrap .finish {
    display: flex;
}

.printed_wrap {
        width: 900px;
    margin: 0 auto;
    /*border: 1px black solid;*/
}
.printed_wrap .p_log {
    justify-content: flex-end;
    margin-right: 70px;
}
.img_l {
    width: 130px;
}
.img_l img {
    width: 100%;
}
.printed_wrap .title {
    margin-top: 100px;
    justify-content: center;
}
.block .block_title {
    width: 200px;
    padding-left: 12px;
}
.block .content {
    width: 700px;
    padding: 5px;
}
.block {
    border-top: 4px black solid;
}
.block p {
    margin: 0;
}
.printed_wrap .patient p,
.printed_wrap .date p{
    margin-right: 10px;
}
.printed_wrap .patient,
.printed_wrap .date {
    padding-left: 12px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}
.content .img img {
    width: 100%;
}
.content .img {
    width: 330px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.printed_wrap .finish {
    margin-top: 50px;
    justify-content: flex-end;
}
.printed_wrap .finish p {
    margin-right: 10px;
}
.printed_wrap .finish div {
    width: 100px;
    height: 20px;
    margin-right: 130px;
    border-bottom: 1px black solid;
}
.printed_wrap .last {
    border-bottom: 4px black solid;
}
.text_field {
    margin-top: 30px !important;
}
.file_drop {
    width: 500px !important;
    height: 100px;
    border: 2px black dashed;
    margin: 0 auto !important;
}
.file_drop div {
    cursor: pointer;
}
.images_update {
    display: flex;
    flex-wrap: wrap;
}
.images_update div {
    width: 330px;
}
.images_update div img {
    width: 100%;
}